@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #040C14;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
}


li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    max-width: 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer ;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169,0.8);
}

/* MAIN */

.body {
    padding: 0;
    margin: 0;
}


.main {    
    font-weight: 400;
    margin: 0px;
    padding-top: 30px;
    justify-content: center;
    color: #edf0f1;
    text-align: center;
}

.main-about {
    margin: 0;
    padding: 10px;
    width: 50%;
    background-color: #0088a9;
    text-align: center;
}


.character {
    margin: 0px 0px 0px 0px;
    padding: 0;
    height: 200px;
}

.image-body {
    padding: 20px;
    margin: 50px;
    display: block;
    max-width: 400px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 5rem;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}


.title-about {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #edf0f1;
    margin: 0;
    padding-top: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.about {
    display: flex;
    margin: 0;  
    padding: 0;
}

.p-about {
    font-family: 'Libre Baskerville', serif;
    color: #edf0f1;
    padding: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;    
}

#name {
    color: #0088a9;
}


#startbutton {
    margin-top: 20px;
}

/* START - PROJECTS STYLE */


.containers {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 20px;
}

.containers-1 {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 100px;
}

.container-1 {
    position: relative;
    width: 50%;
    display: flex;
    margin-right: 10px;
}

.container-2 {
    position: relative;
    width: 50%;
    display: flex;
    margin-left: 10px;
}

.container-3 {
    position: relative;
    width: 50%;
    display: flex;
    margin-right: 10px;
}

.container-4 {
    position: relative;
    width: 50%;
    display: flex;
    margin-left: 10px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color:#FEAE5E;    
}

.overlay-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color:#4ad674;    
}

.overlay-3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color:#F65C46;    
}

.overlay-4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color:#5968FC;    
}

.container-1:hover .overlay-1 {
    opacity: 1;
}

.container-2:hover .overlay-2 {
    opacity: 1;
}
.container-3:hover .overlay-3 {
    opacity: 1;
}
.container-4:hover .overlay-4 {
    opacity: 1;
}

.text-1 {
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
}


.text-2 {
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
}

.text-3 {
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
}

.text-4 {
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}



/* END - PROJECTS STYLE */


/*- --- -- FOOTER ------ */

.footer {
    position: relative;
    padding-top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #040C14;
    color: white;
    text-align: center;
}

/* --- ICONS  */ 

#facebook {
    margin-right: 5px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    color: white;
}
#github {
    margin-right: 5px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    color: white;
}
#linkedin {
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    color: white;
}

    /* Query */

    /* Extra small devices portrait phones, less than 576px */

    @media (max-width: 767.98px) {
        .body {
            padding: 0%;
            margin: 0%;
        }
        
        header {
            display: flex;
            align-items: center;
            padding: 20px 2%;
            justify-content: center; 
        }

        .nav-links li {
            display: inline-block;
            padding: 0px 0px;
            margin: 2px;
            width: auto;
        }

        button {
            padding: 5px 10px;
            background-color: rgba(0, 136, 169,1);
            border: none;
            border-radius: 50px;
            cursor: pointer ;
            transition: all 0.3s ease 0s;
        }

        .main {
            margin: 0px;
            padding: 20px 0px 0px 0px;
            width: 100%;            
        }

        h1 {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        p {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .character {
            margin: 0;
            padding: 0;
        }

        .containers {
            flex-wrap: wrap;
            margin: 1px;
            padding-bottom: 0px;
            min-width: 100%;
            display: flex;            
        }
        
        .containers-1 {
            flex-wrap: wrap;
            margin: 1px;
            padding-bottom: 0px;
            min-width: 100%;
            display: flex;            
        }

        .container-1, .container-2, .container-3, .container-4 {
            position: relative;
            width: 100%;
            display: flex;
            margin: 2px;
            padding: 2px;
        }

        .about {
            display: flex;
            margin: 0;  
            padding: 10px;            
            flex-wrap: wrap;
            min-width: 100%;
            flex-direction: column-reverse;
        }   
        
        .p-about {
            font-family: 'Libre Baskerville', serif;
            color: #edf0f1;
            padding: 0;
            margin-right: 10px;
            width: 100%;
            padding-bottom: 20px;
        }

        .image-body {
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
            max-width: 80%;
            
        }

        .title-about {
            font-family: 'Roboto', sans-serif;
            text-align: center;
            color: #edf0f1;
            margin: 0;
            padding-top: 0;
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            text-transform: bold;
            padding-bottom: 5px;
        }

        .footer {
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #040C14;
            color: white;
            text-align: center;
        }
        
        /* --- ICONS  */ 
        
        #facebook {
            margin-right: 5px;
            font-size: 30px;
            cursor: pointer;
            text-decoration: none;
            border-radius: 50%;
            text-align: center;
            color: white;
        }
        #github {
            margin-right: 5px;
            font-size: 30px;
            cursor: pointer;
            text-decoration: none;
            border-radius: 50%;
            text-align: center;
            color: white;
        }
        #linkedin {
            font-size: 30px;
            cursor: pointer;
            text-decoration: none;
            border-radius: 50%;
            text-align: center;
            color: white;
        }
        
    }   


    /* / Small devices (landscape phones, 576px and up) */
    
    @media (min-width: 768px) and (max-width: 991.98px) {
        .main,h1,p {
            margin: 0px;
            padding: 50px 0px 0px 0px;
            width: 100%;            
        }
        .containers {
            flex-wrap: wrap;
            margin: 1px;
            padding-bottom: 0px;
            min-width: 100%;
            display: flex;            
        }
        
        .containers-1 {
            flex-wrap: wrap;
            margin: 1px;
            padding-bottom: 0px;
            min-width: 100%;
            display: flex;            
        }

        .container-1, .container-2, .container-3, .container-4 {
            position: relative;
            width: 100%;
            display: flex;
            margin: 2px;
            padding: 2px;
        }
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        .main,h1,p {
            margin: 0px;
            padding: 50px 0px 0px 0px;
            width: 100%;            
        }
        .containers {
            display: flex;
            margin-left: 200px;
            margin-right: 200px;
            padding-bottom: 20px;
            min-width: 50%;
        }
        
        .containers-1 {
            display: flex;
            margin-left: 200px;
            margin-right: 200px;
            padding-bottom: 50px;
            min-width: 50%;
        }

    }
    
    /*/ Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) { ... }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199.98px) { ... }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { ... }
